:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --link-hover-color: #2196F3;
    --background-color: #FFF;
    --header-background-color: #FFF;
    --footer-background-color: #2F303A;
    --footer-link-color: rgba(255, 255, 255, 0.60);
    --blue-text: #2196F3;
    --black-text: #000;
    --white-text: #FFF;
    --white-background: #FFFFFF;
    --container-main-color: #2F303A;
    --button-background-color: #F5F4FA;
    --main-button-hover-color: #188CE8;
    --border-color: #ECECEC;



}

/*Global Styles */
body {
    background-color: var(--background-color);
    font-family: "Roboto", sans-serif;
    color: var(--primary-text-color);
}

.global-header {
    background-color: var(--header-background-color);
    border-bottom: 1px solid var(--border-color);
}

.global-header .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.main-navigation ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

.global-header a,
.global-footer a {
    text-decoration: none;
}

/* Container Style */
.container {
    width: 1200px 100vw;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;

}

/* Paddings for class section*/
.section {
    padding: 94px 25px;

}

/* Navigation */
.main-navigation a {
    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
}

.global-header .main-navigation a:hover,
.global-header .main-navigation a:focus {
    color: var(--link-hover-color);
}

#current {
    color: var(--link-hover-color)
}

/* Logo */
.logo-header {
    padding-left: 25px;
    margin-right: 93px;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
}


/* Text Colors*/
.blue-text {
    color: var(--blue-text);
}

.black-text {
    color: var(--black-text);
}

.white-text {
    color: var(--white-text);
}

/* Remove List Bullets */
.main-navigation ul,
.services ul,
.what-we-do ul,
.our-team ul,
.portfolio ul {
    list-style-type: none;
}

/* Contact Info Links*/
.contact-info a {
    color: var(--secondary-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
}

.contact-info a:hover,
.contact-info a:focus {
    color: var(--link-hover-color);
}

.email:hover a,
.email:focus a {
    color: var(--link-hover-color);
    fill: currentColor;
}

.email-icon:hover,
.email-icon:focus {
    stroke: currentColor;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 330px;
    gap: 40px;
}

.email {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

}

.tel-nr {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

}

.email-icon {
    display: flex;
    justify-self: center;
    align-self: center;
    flex-shrink: 0;
    width: 16px;
    height: 12px;

}

.smartphone-icon {
    display: flex;
    justify-self: flex-start;
    align-self: flex-start;
    flex-shrink: 0;
    width: 10px;
    height: 16px;
}

.tel-nr:hover a,
.tel-nr:focus a {
    color: var(--link-hover-color);
    fill: currentColor;
}

.smartphone-icon:hover,
.smartphone-icon:focus {
    stroke: currentColor;
}


/* Container Main Styles */
.container-main {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-main-container.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 100%;
}

/* Main Title */
.main-title {
    align-self: center;
    margin-bottom: 30px;
    color: var(--white-text);
    width: 697px;
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 136.364%;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

/* Buttons */
.main-button {
    background-color: var(--blue-text);
    border: none;
    color: var(--white-text);
    text-align: center;
    font-size: 16px;
    font-family: inherit;
    font-weight: 700;
    line-height: 187.5%;
    border-radius: 4px;
}

.portfolio-buttons ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 8px;
    margin-bottom: 50px;
}

.button {
    background-color: var(--button-background-color);
    border: none;
    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
    line-height: 165.5%;
    border-radius: 4px;
}

.button:hover,
.button:focus {
    background-color: var(--link-hover-color);
    color: var(--white-text);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10)
}

.main-button:hover,
.main-button:focus {
    background-color: var(--main-button-hover-color);
    color: var(--white-text);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.main-button,
.button {
    font-family: inherit;
    cursor: pointer;
}

/*Services*/
.services ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

/* Service Heading */
.heading-services {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

/* Service Paragraph*/
.paragraph-services {
    color: var(--secondary-text-color);
    line-height: 171.429%;
}

/* Second Title*/
.second-title {
    margin-bottom: 50px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}

.services-card .container-svg {
    padding: 25px 100px 25px 100px;
    margin-bottom: 30px;
    border-radius: 4px;
    flex-shrink: 0;
    background-color: #F5F4FA;
}

.container-svg svg {
    max-width: unset;
}


.icons-customers ul {
    display: flex;
    list-style: none;
    margin-left: 40px;
    gap: 30px;
}

.customers-heading {
    padding-top: 94px;
}

.svg-customers {
    flex-basis: calc((100% - 180px)/6);
    box-sizing: border-box;
    padding: 16px 32px 16px 32px;
    margin-bottom: 50px;
    border-radius: 4px;
    flex-shrink: 0;
    background-color: #F5F4FA;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
}

.icon {
    fill: #AFB1B8;
    max-width: unset;
}

.svg-customers:hover .icon,
.svg-customers:focus .icon {
    fill: var(--link-hover-color);
}

.svg-customers:hover {
    background-color: var(--white-background);
}


/*What we do */
.what-we-do ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

/* Our team Section */
.our-team {
    background-color: var(--button-background-color);
    max-width: 100vw;
}

.our-team ul:not(.social-icons) {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

.team-members {
    background-color: var(--background-color);
}

.card-container {
    background-color: var(--background-color);
    border-radius: 0px 0px 4px 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-title-team {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

.profession {
    margin-top: 10px;
    margin-bottom: 30px;
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: normal;
}

.social-media-team {
    box-sizing: border-box;
    padding: 12px;
    border-radius: 100%;
    flex-shrink: 0;
}

.social-icons {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;

}

.social-media-team:not(:last-child) {
    margin-right: 10px;

}

.instagram-member,
.twitter-member,
.facebook-member,
.linkedin-member {
    fill: #AFB1B8;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.social-media-team:hover,
.social-media-team:focus {
    background-color: var(--link-hover-color);
}

.social-media-team:hover svg,
.social-media-team:focus svg {
    fill: white;
}


.regular-customers {
    background-color: var(--white-background);
    max-width: 100vw;
}


/* Second Title for Porducts and Services*/

.card-portfolio {
    background-color: var(--background-color);
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    padding: 20px 24px;
}

.card-set {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 30px;
    list-style: none;
}


.item:hover,
.item:focus {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
        0px 4px 4px 0px rgba(0, 0, 0, 0.06),
        0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.second-title-products-services {
    font-size: 18px;
    font-weight: 700;
    line-height: 200%;
}

.type {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 187.5%;
}

/* Global Footer */

.global-footer {
    display: flex;
    justify-self: start;
    align-items: flex-start;
    padding-left: 30px;
}

.footer-address {
    display: flex;
    flex-flow: column wrap;
    gap: 12px;
    list-style: none;
}

.contact-footer {
    flex-basis: calc((100% - 24px) / 3);

}

.footer-logo {
    margin-bottom: 28px;
}

.global-footer .footer-container {
    padding-top: 60px;
    padding-left: 0;
    margin-right: 94px;
    max-width: 100vw;
}

.global-footer {
    background-color: var(--footer-background-color);
}

.footer-address {
    padding-bottom: 60px;
    color: var(--white-text);
    font-size: 14px;
    font-style: normal;
    line-height: normal;
}

.footer-address a {
    color: var(--footer-link-color);
    font-size: 14px;
    line-height: 114.286%;
}

.global-footer .footer-address a:hover,
.global-footer .footer-address a:focus {
    color: var(--link-hover-color);
}

.find-us-footer {
    padding-top: 75px;
    margin-bottom: 20px;
    color: var(--white-text);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.instagram-footer,
.twitter-footer,
.facebook-footer,
.linkedin-footer {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.social-media-item {
    box-sizing: border-box;
    padding: 12px;
    border-radius: 100%;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.10);
}

.social-media-item:not(:last-child) {
    margin-right: 10px;
}

.footer-child-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.social-media-svgs li {
    display: inline-flex;
    list-style: none;

}

.social-media-item:hover,
.social-media-item:focus {
    color: var(--link-hover-color);
    fill: currentColor;
    background-color: var(--link-hover-color);
}